/* App.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.strikethrough {
  text-decoration: line-through;
}

/* Centering the container and adding some margin to the top */
.container {
  margin-top: 8%;
}

/* Styling the buttons with some padding and margin */
button {
  padding: 10px 20px;
  margin-top: 15px;
}

/* Adding some margin to the form elements */
.text-field {
  margin-top: 15px;
}

/* Styling the Typography for headings */
.typography {
  margin-bottom: 15px;
  text-align: center;
}

